.DS_Store
.npm/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
.idea
node_modules
npm-debug.log
coverage
.cache
.eslintcache
.envrc
tsconfig.tsbuildinfo
.env
.sonarlint/
test-output/
