{% extends '_layout.njk' %}

{% block content %}
  <h1>Live Scores Videprinter</h1>
  <div id="videprinter-controls">
    <button id="toggle-pause" class="button">Pause</button>
    <span id="status" class="status">Connecting...</span>
  </div>
  <ol id="videprinter" class="videprinter"></ol>
  <script src="/assets/js/videprinter.js"></script>
{% endblock %}
